.stitle-wrapper {
  text-align: center;
  margin: 3rem 0 2rem 0;
}

.stitle {
  position: relative;
  display: inline-block;
  transition: all 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: var(--gold);
    transition: all 0.3s linear;
  }

  &:hover {
    transform: translateY(3px) scale(1.01);
    color: var(--accent);
  }
  &:hover::before {
    width: 0%;
  }
}

.stext-hero,
.ssubtext-hero {
  transition: all 0.3s linear;
  &:hover {
    color: var(--accent);
  }
}

.stext-hero-w {
  transition: all 0.3s ease;

  &:hover {
    color: teal;
  }
}

.sfilter {
  display: flex;
  align-items: center;
  justify-content: end;

  * {
    margin: 4px 8px;
  }

  label {
    text-align: center;
  }
}

.product-grid {
  padding-bottom: 16px;
}

header > nav > a {
  transition: all 0.3s ease;
}

a[href="cart.html"] {
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-6px);
  }
}

.product-card button.add-cart-btn {
  transition: all 0.3 ease !important;
  border: 1px solid transparent;

  background: linear-gradient(90deg, var(--accent), var(--accent-2));
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #fff;

  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    background: transparent !important;
    border: 1px solid var(--accent);
    color: var(--accent);
  }
}

/* styles for cart.html */
.scart-html {
  .continue-shopping {
    padding-bottom: 32px !important;
  }
  .scontinue-shopping-empty {
    text-decoration: none;
  }
  .cart-items-list {
    margin: 8px auto 32px;
    width: 90%;
    max-width: 800px;
  }

  .cart-item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 786px) {
      & {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .scard-img-wrapper {
        width: 300px !important;
      }
    }

    .scard-img-wrapper {
      width: 100%;
      height: 300px;

      .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

/* styles for men.html */
.sno-items {
  background-color: #fff;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--accent);
  border-radius: 18px;
  margin: 0 auto;

  grid-column: span 3;

  width: 90%;
  max-width: 1200px;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent);
  }
}

.smodal {
  position: fixed;
  top: 1rem;
  right: 2rem;
  background-color: #fff;
  z-index: 999;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid transparent;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  display: flex;
  gap: 1rem;

  transition: all 0.5s ease;
  button {
    width: 20px;
    aspect-ratio: 1;
    background-color: var(--accent);
    border: 2px solid transparent;
    border-radius: 999px;
    color: #fff;

    transition: all 0.3 ease;

    &:hover {
      border: 1px dotted var(--accent);
      background-color: #fff;
      color: #111;
    }
  }

  &:hover {
    border: 2px solid var(--accent);
  }
}

.smodal-confirm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .modal-actions {
    display: flex;
    gap: 1rem;

    button {
      width: 80px !important;
      aspect-ratio: 0;
      padding: 4px 16px;
      border-radius: 8px;
      border: 2px solid transparent;
      cursor: pointer;
      font-weight: 700;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-4px);
        border: 1px solid var(--accent);
      }
    }
  }
}
